# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Logs and outputs
*.log
*.out
*.pth
outputs/
figures/

# OS files
.DS_Store
Thumbs.db

# LaTeX build artifacts
*.aux
*.bbl
*.blg
*.log
*.out
*.toc

# Environment
.env
.venv
